*{
    margin: 0%;
    padding: 0%;
}
.wrapper{
    background-color: blueviolet;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

header{
    background-color: aquamarine;
    /* flex-basis: 20%; */
    flex-grow: 2;
}

main{
    background-color: red;
    /* flex-basis: 60%; */
    flex-grow: 4;
}

nav{
    background-color: blueviolet;
    flex-grow: 1;
}

aside{
    background-color: yellow;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
}
.upper{
    background-color: blanchedalmond;
    flex-grow: 1;
}
.middle{
    background-color: brown;
    flex-grow: 1;
}
.lower{
    background-color: lawngreen;
    flex-grow: 1;
}
footer{
    background-color: orange;
    /* flex-basis: 20%; */
    flex-grow: 1;
}