*{
    font-size: 50px;
}
/* tag element selector */
h1{
    background-color: red;
}

/* class selector */

.test{
    background-color: yellow;
}

/* id element ka use ham single id ke liye krte h with # */

#one{
    background-color: blueviolet;
}

/* grouping element selector */
/* h1 h2 p {
    
} */